.job-post-form {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    max-width: 500px; /* Set a maximum width for the form */
    margin: 0 auto; /* Center the form horizontally */
  }
  
  .job-post-form input[type='file'] {
    margin-top: 10px;
  }
  
  .job-post-form button[type='submit'] {
    margin-top: 20px;
  }

  .job-post-form .MuiFormControl-root {
    margin-bottom: 20px; /* Add some spacing between form fields */
  }
  
  .job-post-form .MuiButton-containedPrimary {
    background-color: #2196f3; /* Change the submit button background color */
    color: #ffffff; /* Change the submit button text color */
  }
  
  .job-post-form .MuiButton-containedPrimary:hover {
    background-color: #0c7cba; /* Change the submit button background color on hover */
  }

  .Container {
    margin-top: 40px;
  }
  
  /* Style the paper (form container) */
  .Paper {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    max-width: 900px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the form horizontally */
  }
  
  /* Style form fields and submit button */
  form > div {
    margin-bottom: 20px;
  }
  
  /* Style the submit button */
  Button[type='submit'] {
    margin-top: 20px;
    background-color: #2196f3;
    color: #ffffff;
  }
  
  Button[type='submit']:hover {
    background-color: #0c7cba;
  }